# Copyright (c) Emile Nijssen (WeeJeWel)
# Founder and Codeowner of WireGuard Easy (wg-easy)
# Maintained by Philip Heiduck (pheiduck) and Bernd Storath (kaaax0815) and Rah Emil (rah_emil)
* @WeeJeWel @pheiduck @kaaax0815 @rah_emil
